/* UNIVERSAL */

body {
    background-color: #1e1e24;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* JUMBOTRON */

.jumbotron {
    height: 200px;
    background-image: url("https://images.unsplash.com/photo-1444882158336-bcfbd9298309?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
    background-position: bottom center;
}

h1 {
    font-family: "Ruda", sans-serif;
    font-size: 70px;
    font-weight: 900;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding-top: 20px;
}

/* HOTELS */

h2 {
    font-family: "Catamaran", sans-serif;
    color: #ffffff;
    text-align: left;
    margin: 0;
}

h3 {
    font-family: "Ruda", sans-serif;
    font-size: 32px;
    color: #d7263d;
    text-align: left;
    text-transform: uppercase;
    position: relative;
    margin: 0;
}

p {
    font-family: "Pontano Sans", sans-serif;
    color: rgba(255, 255, 255, 0.75);
    text-align: left;
    margin: 0;
}

.hotel {
    width: 90%;
    border: 1px solid #ffffff;
    margin: 60px auto;
    padding: 10px 0 0 0;
}

.hotel-image {
    display: inline-block;
    margin-top: 20px;
}

.hotel-description {
    width: 70%;
    display: inline-block;
}

.book {
    width: 100%;
    margin-top: 30px;
}

a {
    font-family: "Pontano Sans", sans-serif;
    font-size: 16px;
    color: #ffffff;
    background-color: #d7263d;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 14px;
}

ul {
    margin: 10px 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
}

.breadcrumb a {
    background-color: inherit;
}